$text-color-orange: #E3B873;
$text-color-white: #FFF;
$text-color--dark: #959595;
$text-color--darken: #363636;
$text-color--darkest: #181818;
$text-color--dark-transparent: rgba(255, 255, 255, 0.5);