body {
  background-color: #131313;
}

.upper {
  text-transform: uppercase;
}

input,
button {
  outline: none;
  border-style: none;
}

header,
footer {
  width: 100%;
  height: 100%;
}

header .head-wrap,
footer .head-wrap {
  position: relative;
  max-width: 1440px;
  height: 790px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: url(./assets/banner.png) no-repeat right bottom;
}

header .top,
footer .top {
  width: 1256px;
  height: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header aside,
footer aside {
  min-width: 82px;
  height: 707px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header aside span,
footer aside span {
  font-family: FuturaDemiC;
  font-size: 14px;
  line-height: 16px;
  color: #E3B873;
  margin: 0 auto;
  -webkit-transform: rotate(90deg);
}

header nav,
footer nav {
  margin-left: 95px;
  width: 582px;
}

header nav ul,
footer nav ul {
  height: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

header nav ul a,
footer nav ul a {
  text-decoration: none;
  font-family: FuturaBookC;
  font-size: 14px;
  line-height: 16px;
  color: #FFF;
  text-transform: uppercase;
}

header nav ul a:first-child,
footer nav ul a:first-child {
  color: #E3B873;
}

header .logo,
footer .logo {
  font-family: FuturaDemiC;
  font-size: 14px;
  line-height: 16px;
  color: #E3B873;
}

header .number,
footer .number {
  font-family: FuturaDemiC;
  font-size: 14px;
  line-height: 16px;
  text-align: right;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #E3B873;
  margin-left: 3%;
}

header .call-button,
footer .call-button {
  width: 167px;
  height: 37px;
  background-color: #E3B873;
  margin-left: 5%;
  -webkit-box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
          box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
  border-radius: 2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  font-family: FuturaDemiC;
  font-size: 13px;
  line-height: 15px;
  text-transform: uppercase;
  color: #FFF;
}

header .text,
footer .text {
  position: absolute;
  top: 30%;
  margin-left: 2%;
}

header .text > div,
footer .text > div {
  width: 518px;
  height: 108px;
}

header .text > div h1,
footer .text > div h1 {
  font-family: Yeseva One;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 53px;
  color: #FFF;
}

header .text > div h1 span,
footer .text > div h1 span {
  color: #E3B873;
}

header .text p,
footer .text p {
  margin-top: 20px;
  font-family: FuturaBookC;
  font-size: 22px;
  line-height: 30px;
  color: #FFF;
  max-width: 500px;
  max-height: 89px;
}

header .buttons,
footer .buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 8%;
}

header .buttons .calculate,
footer .buttons .calculate {
  width: 208px;
  height: 52px;
  background: #E3B873;
  -webkit-box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.3);
          box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.3);
  border-radius: 2px;
  margin-right: 5%;
  font-family: FuturaDemiC;
  font-size: 13px;
  line-height: 15px;
  text-align: center;
  color: #FFF;
  cursor: pointer;
}

header .buttons .submit,
footer .buttons .submit {
  width: 208px;
  height: 52px;
  border: 1px solid #FFFFFF;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 2px;
  background-color: transparent;
  cursor: pointer;
  font-family: FuturaDemiC;
  font-size: 13px;
  line-height: 15px;
  text-align: center;
  color: #FFF;
}

header .scroll,
footer .scroll {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-width: 247px;
  height: 97px;
  background-color: #131313;
  position: absolute;
  bottom: 0;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
}

header .scroll p,
footer .scroll p {
  font-family: Yeseva One;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  color: #FFF;
}

header .scroll button,
footer .scroll button {
  margin-left: 8%;
  cursor: pointer;
  border: none;
  width: 30px;
  height: 30px;
  background-image: url(./assets/down.svg);
  background-repeat: no-repeat;
  background-color: transparent;
  outline: none;
}

.block2 {
  width: 100%;
  height: 100%;
  background: url(./assets/back-line.png);
  background-size: cover;
}

.block2-wrap {
  max-width: 1240px;
  height: 1074px;
  margin: 0 auto;
  display: -webkit-box;
  padding-top: 128px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* .slider {
        width: 55px;
        height: 55px;
        position: absolute;
        //  margin-top: 185px;
        border-radius: 50%;
        background: #E3B873 url(./assets/right.svg) no-repeat center;
        box-shadow: 0px 0px 15px rgba(227, 184, 115, 0.5);
    }*/
}

.block2-wrap .example {
  width: 442px;
  height: 590px;
}

.block2-wrap .example > h1 {
  width: 253px;
  font-family: Yeseva One;
  font-style: normal;
  font-weight: normal;
  font-size: 27px;
  line-height: 37px;
  letter-spacing: -0.07em;
  color: #E3B873;
}

.block2-wrap .example > p {
  font-family: FuturaBookC;
  font-size: 18px;
  line-height: 29px;
  color: #FFF;
}

.block2-wrap .example .props {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.block2-wrap .example .props div {
  padding-top: 10%;
}

.block2-wrap .example .props div p {
  font-family: FuturaBookC;
  font-size: 15px;
  line-height: 20px;
  color: #FFF;
}

.block2-wrap .example .props div p:nth-child(1) {
  font-family: Yeseva One;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  text-transform: uppercase;
  color: #E3B873;
}

.block2-wrap .example .slider {
  width: 206px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 34%;
}

.block2-wrap .example .slider div {
  background: #FFFFFF;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.block2-wrap .example .slider :nth-child(3) {
  background: rgba(255, 255, 255, 0.3);
}

.block2-wrap .example .slider :nth-child(4) {
  background: rgba(255, 255, 255, 0.3);
}

.block2-wrap .example .slider img:last-child {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.block2-wrap .projects {
  padding-left: 5%;
}

.block2-wrap .projects nav {
  margin-top: -6%;
}

.block2-wrap .projects nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.block2-wrap .projects nav ul > :first-child {
  color: #E3B873;
  padding: 2px;
  border-bottom: 1px solid #E3B873;
}

.block2-wrap .projects nav ul a {
  text-decoration: none;
  margin-right: 60px;
  font-family: Yeseva One;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  color: #FFF;
  line-height: 19px;
  text-transform: uppercase;
}

.block2-wrap .projects .pictures {
  margin-top: 2%;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* &:after {
                content: '';
                width: 55px;
                height: 55px;
                // position: absolute;
                z-index: 2;
                top: 50px;
                right: 0;
                //  margin-top: 185px;
                border-radius: 50%;
                background: #E3B873 url(./assets/right.svg) no-repeat center;
                box-shadow: 0px 0px 15px rgba(227, 184, 115, 0.5);
            }*/
}

.cam {
  width: 196px;
  height: 68px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  top: 65%;
  right: 50%;
}

.cam h1 {
  font-family: Yeseva One;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: #FFF;
}

.cam img {
  margin: 0 auto;
}

.white {
  background-color: #fff;
  width: 100%;
  height: 100%;
}

.white-wrap {
  width: 1440px;
  height: auto;
  margin: 0 auto;
}

.white-wrap .vid {
  position: relative;
}

.white-wrap .vid video {
  width: 817px;
  height: 434px;
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.white-wrap .vid button {
  position: absolute;
  top: 0;
  left: 50%;
  cursor: pointer;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 85px;
  height: 85px;
  border-radius: 50%;
  background: #E3B873 url(./assets/play.svg) no-repeat center;
}

.white-wrap .cam-text {
  width: 682px;
  margin: 0 auto;
  padding-top: 22%;
  background: url(./assets/line-wh.svg) no-repeat center 60%;
}

.white-wrap .cam-text p {
  font-family: FuturaBookC;
  font-size: 20px;
  line-height: 34px;
  text-align: center;
}

.white-wrap form {
  padding-top: 5%;
  width: 770px;
  height: 102px;
  margin: 0 auto;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.white-wrap form input {
  border: none;
  border-bottom: 1px solid rgba(54, 54, 54, 0.3);
  padding-bottom: 6px;
  padding-right: 30%;
}

.white-wrap form input::-webkit-input-placeholder {
  font-family: FuturaBookC;
  font-size: 18px;
  line-height: 24px;
  color: #363636;
}

.white-wrap form input:-ms-input-placeholder {
  font-family: FuturaBookC;
  font-size: 18px;
  line-height: 24px;
  color: #363636;
}

.white-wrap form input::-ms-input-placeholder {
  font-family: FuturaBookC;
  font-size: 18px;
  line-height: 24px;
  color: #363636;
}

.white-wrap form input::placeholder {
  font-family: FuturaBookC;
  font-size: 18px;
  line-height: 24px;
  color: #363636;
}

.white-wrap form label p {
  font-family: FuturaBookC;
  font-size: 15px;
  line-height: 20px;
  color: rgba(54, 54, 54, 0.5);
  text-align: left;
  margin-bottom: 4px;
}

.white-wrap form label:nth-child(4) {
  padding-top: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.white-wrap form label:nth-child(4) p {
  font-family: FuturaBookC;
  font-size: 16px;
  line-height: 22px;
  color: #181818;
}

.white-wrap form button {
  background-color: #E3B873;
  -webkit-box-shadow: 0px 5px 20px rgba(227, 184, 115, 0.1);
          box-shadow: 0px 5px 20px rgba(227, 184, 115, 0.1);
  width: 200px;
  height: 51px;
  border: none;
  font-family: FuturaDemiC;
  font-size: 15px;
  line-height: 26px;
  text-align: center;
  outline: none;
  cursor: pointer;
  color: #FFF;
}

.white-wrap .repair {
  width: 190px;
  height: 68px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
  margin-top: 8%;
}

.white-wrap .repair h1 {
  font-family: Yeseva One;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: #181818;
}

.white-wrap .repair img {
  margin: 0 auto;
}

.white-wrap .images {
  width: 1236px;
  height: 608px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background: url(./assets/rep1.png) no-repeat left 12%, url(./assets/rep2.png) no-repeat center 12%, url(./assets/rep3.png) no-repeat right 12%;
}

.white-wrap .images .txt {
  position: relative;
  width: 330px;
  height: 286px;
  background-color: #FFF;
  -webkit-box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.03);
          box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.03);
  top: 50%;
}

.white-wrap .images .txt .inn-txt {
  margin-top: 5%;
  margin-left: 8%;
}

.white-wrap .images .txt .inn-txt > p {
  margin-left: -5%;
  font-family: Yeseva One;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  color: #363636;
}

.white-wrap .images .txt .inn-txt ul {
  list-style-type: disc;
}

.white-wrap .images .txt .inn-txt ul li {
  font-family: FuturaBookC;
  font-size: 15px;
  line-height: 25px;
  color: #959595;
}

.white-wrap .images .txt .orange {
  position: absolute;
  width: 228px;
  height: 54px;
  background: #E3B873;
  -webkit-box-shadow: 5px 5px 10px rgba(227, 184, 115, 0.3);
          box-shadow: 5px 5px 10px rgba(227, 184, 115, 0.3);
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
}

.white-wrap .images .txt .orange p {
  font-family: Yeseva One;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  text-transform: uppercase;
  color: #FFF;
}

.white-wrap .free {
  width: 506px;
  height: 510px;
  margin: 16% 0 0 auto;
  background: #131313 url(./assets/free-line.png);
  -webkit-box-shadow: 0px 30px 30px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 30px 30px rgba(0, 0, 0, 0.05);
}

.white-wrap .free h1 {
  font-family: FuturaDemiC;
  font-size: 20px;
  line-height: 25px;
  text-align: center;
  padding-top: 5%;
  color: #FFF;
}

.white-wrap .free form {
  display: block;
  margin: 0 auto;
  padding: 10%;
  height: 274px;
  width: auto;
}

.white-wrap .free form label {
  display: block;
  padding-bottom: 8%;
  padding-top: 0;
  overflow: hidden;
}

.white-wrap .free form label:nth-child(3) {
  padding-bottom: 4%;
}

.white-wrap .free form input {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
  padding-bottom: 8px;
  padding-right: 100%;
}

.white-wrap .free form input::-webkit-input-placeholder {
  font-family: FuturaMediumC;
  font-size: 18px;
  line-height: 25px;
  color: #FFF;
}

.white-wrap .free form input:-ms-input-placeholder {
  font-family: FuturaMediumC;
  font-size: 18px;
  line-height: 25px;
  color: #FFF;
}

.white-wrap .free form input::-ms-input-placeholder {
  font-family: FuturaMediumC;
  font-size: 18px;
  line-height: 25px;
  color: #FFF;
}

.white-wrap .free form input::placeholder {
  font-family: FuturaMediumC;
  font-size: 18px;
  line-height: 25px;
  color: #FFF;
}

.white-wrap .free form label p {
  font-family: FuturaBookC;
  font-size: 15px;
  line-height: 20px;
  color: rgba(255, 255, 255, 0.5);
  line-height: unset;
  text-align: left;
  margin-bottom: 8px;
}

.white-wrap .free form label:nth-child(4) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
}

.white-wrap .free form label:nth-child(4) p {
  font-family: FuturaBookC;
  font-size: 16px;
  line-height: 22px;
  color: #FFF;
}

.white-wrap .free form button {
  background-color: #E3B873;
  -webkit-box-shadow: 0px 5px 20px rgba(227, 184, 115, 0.1);
          box-shadow: 0px 5px 20px rgba(227, 184, 115, 0.1);
  width: 213px;
  height: 51px;
  border: none;
  font-family: FuturaDemiC;
  font-size: 15px;
  line-height: 26px;
  text-align: center;
  outline: none;
  cursor: pointer;
  color: #FFF;
  position: absolute;
  bottom: -12%;
  right: 8%;
}

.fantasies {
  background: url(./assets/fantasies.png) no-repeat top center/cover;
}

.fantasies .fantasies-wrap {
  width: 1440px;
  height: 864px;
  margin: 0 auto;
}

.fantasies .fantasies-wrap .text2 {
  margin-left: 8%;
  padding-top: 10%;
  width: 630px;
}

.fantasies .fantasies-wrap .text2 h1 {
  font-family: Yeseva One;
  font-style: normal;
  font-weight: normal;
  font-size: 27px;
  line-height: 37px;
  color: #E3B873;
  margin-bottom: 5%;
}

.fantasies .fantasies-wrap .text2 ul {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.fantasies .fantasies-wrap .text2 ul li:first-child {
  color: #E3B873;
  border-bottom: 1px solid #E3B873;
}

.fantasies .fantasies-wrap .text2 ul li {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-family: Proxima Nova;
  font-size: 20px;
  line-height: 34px;
  margin-bottom: 8%;
  color: #FFF;
}

.variants {
  height: 622px;
  background-color: #FFF;
}

.variants .variants-wrap {
  width: 1440px;
  height: 622px;
  margin: 0 auto;
}

.variants .variants-wrap .design {
  width: 190px;
  height: 68px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
  padding-top: 10%;
}

.variants .variants-wrap .design h1 {
  font-family: Yeseva One;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: #181818;
}

.variants .variants-wrap .design img {
  margin: 0 auto;
}

.variants .variants-wrap .inn-tx {
  width: 760px;
  margin: 0 auto;
}

.variants .variants-wrap .inn-tx p {
  font-family: FuturaBookC;
  font-size: 20px;
  line-height: 27px;
  text-align: center;
  color: #363636;
}

.variants .variants-wrap .images2 {
  width: 1236px;
  height: 608px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background: url(./assets/rep1.png) no-repeat left 12%, url(./assets/rep3.png) no-repeat center 12%, url(./assets/tel.png) no-repeat right 12%;
}

.variants .variants-wrap .images2 .txt2 {
  position: relative;
  width: 330px;
  height: 286px;
  background-color: #FFF;
  -webkit-box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.03);
          box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.03);
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  top: 50%;
}

.variants .variants-wrap .images2 .txt2 .inn-txt2 {
  margin-top: 5%;
  margin-left: 8%;
}

.variants .variants-wrap .images2 .txt2 .inn-txt2 > p {
  margin-left: -5%;
  margin-bottom: 2%;
  font-family: Yeseva One;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  color: #363636;
}

.variants .variants-wrap .images2 .txt2 .inn-txt2 ul {
  list-style-type: disc;
  margin-bottom: 17%;
}

.variants .variants-wrap .images2 .txt2 .inn-txt2 ul li {
  font-family: FuturaBookC;
  font-size: 15px;
  line-height: 25px;
  color: #959595;
}

.variants .variants-wrap .images2 .txt2 .orange2 {
  position: absolute;
  width: 228px;
  height: 54px;
  background: #E3B873;
  -webkit-box-shadow: 5px 5px 10px rgba(227, 184, 115, 0.3);
          box-shadow: 5px 5px 10px rgba(227, 184, 115, 0.3);
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
  padding-left: 5%;
}

.variants .variants-wrap .images2 .txt2 .orange2 p {
  font-family: Yeseva One;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  text-transform: uppercase;
  color: #FFF;
}

.steps {
  background: #191919 url(./assets/back-line.png) no-repeat;
  background-size: cover;
}

.steps .steps-wrap {
  width: 1440px;
  height: 1616px;
  margin: 0 auto;
}

.team .team-wrap {
  width: 1440px;
  height: 1516px;
}

.map {
  background: url(./assets/bgmap.png) no-repeat right bottom/cover, -webkit-gradient(linear, left top, left bottom, from(#181818), to(rgba(24, 24, 24, 0.8)));
  background: url(./assets/bgmap.png) no-repeat right bottom/cover, linear-gradient(#181818, rgba(24, 24, 24, 0.8));
  background-blend-mode: overlay;
}

.map .map-wrap {
  width: 1440px;
  height: 954px;
  margin: 0 auto;
  position: relative;
  background: url(./assets/map.png) no-repeat center 95%;
}

.map .map-wrap .ques {
  position: absolute;
  width: 883px;
  height: 446px;
  background: #181818 url(./assets/free-line.png) no-repeat;
  background-size: cover;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.map .map-wrap .ques h1 {
  font-family: Yeseva One;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #FFF;
  margin-top: 4%;
}

.map .map-wrap .ques form {
  position: relative;
  width: 520px;
  height: 308px;
  margin: 0 auto;
  margin-top: 5%;
  overflow: hidden;
}

.map .map-wrap .ques form input {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
  padding-bottom: 8px;
}

.map .map-wrap .ques form input::-webkit-input-placeholder {
  font-family: FuturaBookC;
  font-size: 18px;
  line-height: 24px;
  color: #FFF;
}

.map .map-wrap .ques form input:-ms-input-placeholder {
  font-family: FuturaBookC;
  font-size: 18px;
  line-height: 24px;
  color: #FFF;
}

.map .map-wrap .ques form input::-ms-input-placeholder {
  font-family: FuturaBookC;
  font-size: 18px;
  line-height: 24px;
  color: #FFF;
}

.map .map-wrap .ques form input::placeholder {
  font-family: FuturaBookC;
  font-size: 18px;
  line-height: 24px;
  color: #FFF;
}

.map .map-wrap .ques form label p {
  font-family: FuturaBookC;
  font-size: 15px;
  line-height: 20px;
  color: rgba(255, 255, 255, 0.5);
  line-height: unset;
  text-align: left;
  margin-bottom: 8px;
}

.map .map-wrap .ques form label:first-child {
  position: absolute;
  left: 0;
}

.map .map-wrap .ques form label:first-child input {
  padding-right: 40%;
}

.map .map-wrap .ques form label:nth-child(2) {
  position: absolute;
  right: 0;
}

.map .map-wrap .ques form label:nth-child(2) input {
  margin-left: -10%;
  padding-right: 40%;
}

.map .map-wrap .ques form label:nth-child(3) {
  position: absolute;
  top: 30%;
}

.map .map-wrap .ques form label:nth-child(4) {
  left: 0;
  right: 0;
  bottom: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
}

.map .map-wrap .ques form label:nth-child(4) p {
  font-family: FuturaBookC;
  font-size: 16px;
  line-height: 22px;
  color: #FFF;
}

.map .map-wrap .ques form label[for="in3"] input {
  padding-right: 300%;
}

.map .map-wrap .ques form button {
  background-color: #E3B873;
  -webkit-box-shadow: 0px 5px 20px rgba(227, 184, 115, 0.1);
          box-shadow: 0px 5px 20px rgba(227, 184, 115, 0.1);
  width: 200px;
  height: 51px;
  border: none;
  font-family: FuturaDemiC;
  font-size: 15px;
  line-height: 26px;
  text-align: center;
  outline: none;
  cursor: pointer;
  color: #FFF;
  display: block;
  margin: 0 auto;
  margin-top: 48%;
}

.map .map-wrap .cont {
  padding-top: 18%;
}

.map .map-wrap p {
  font-family: Yeseva One;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #E3B873;
}

.map .map-wrap .icons {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  padding-top: 2%;
}

.map .map-wrap .icons img {
  border-radius: 50%;
  background-color: #E3B873;
  padding: 7px;
}

.map .map-wrap .icons img:last-child {
  padding: 8px 6px;
}

footer {
  background-color: #191919;
}

footer .foot-wrap {
  width: 1256px;
  height: 134px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
/*# sourceMappingURL=style.css.map */