@import 'config';

body {
    background-color: #131313;
}

.upper {
    text-transform: uppercase;
}

input,
button {
    outline: none;
    border-style: none;
}

header,
footer {
    width: 100%;
    height: 100%;

    .head-wrap {

        position: relative;
        max-width: 1440px;
        height: 790px;
        margin: 0 auto;
        display: flex;
        background: url(./assets/banner.png) no-repeat right bottom;
    }

    .top {
        width: 1256px;
        height: 10%;
        display: flex;
        align-items: center;
    }

    aside {
        min-width: 82px;
        height: 707px;
        display: flex;
        align-items: center;

        span {
            font-family: FuturaDemiC;
            font-size: 14px;
            line-height: 16px;
            color: $text-color-orange;
            margin: 0 auto;
            -webkit-transform: rotate(90deg);
        }
    }


    nav {
        margin-left: 95px;
        width: 582px;

        ul {
            height: 10%;
            display: flex;
            justify-content: space-around;

            a {
                text-decoration: none;
                font-family: FuturaBookC;
                font-size: 14px;
                line-height: 16px;
                color: $text-color-white;
                text-transform: uppercase;
            }

            a:first-child {
                color: $text-color-orange;
            }
        }
    }


    .logo {
        font-family: FuturaDemiC;
        font-size: 14px;
        line-height: 16px;
        color: $text-color-orange;

    }

    .number {
        font-family: FuturaDemiC;
        font-size: 14px;
        line-height: 16px;
        text-align: right;
        text-decoration-line: underline;
        color: $text-color-orange;
        margin-left: 3%;

    }

    .call-button {
        width: 167px;
        height: 37px;
        background-color: $text-color-orange;
        margin-left: 5%;
        box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
        border-radius: 2px;
        display: flex;
        justify-content: center;
        align-items: center;

        cursor: pointer;
        font-family: FuturaDemiC;
        font-size: 13px;
        line-height: 15px;
        text-transform: uppercase;

        color: $text-color-white;


    }

    .text {
        position: absolute;
        top: 30%;
        margin-left: 2%;

        >div {
            width: 518px;
            height: 108px;

            h1 {
                font-family: Yeseva One;
                font-style: normal;
                font-weight: normal;
                font-size: 40px;
                line-height: 53px;
                color: $text-color-white;

                span {
                    color: $text-color-orange;
                }
            }
        }

        p {
            margin-top: 20px;
            font-family: FuturaBookC;
            font-size: 22px;
            line-height: 30px;
            color: $text-color-white;
            max-width: 500px;
            max-height: 89px;
        }
    }

    .buttons {
        display: flex;
        margin-top: 8%;

        .calculate {
            width: 208px;
            height: 52px;
            background: #E3B873;
            box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.3);
            border-radius: 2px;
            margin-right: 5%;


            font-family: FuturaDemiC;
            font-size: 13px;
            line-height: 15px;
            text-align: center;
            color: $text-color-white;
            cursor: pointer;

        }

        .submit {
            width: 208px;
            height: 52px;
            border: 1px solid #FFFFFF;
            box-sizing: border-box;
            border-radius: 2px;
            background-color: transparent;
            cursor: pointer;

            font-family: FuturaDemiC;
            font-size: 13px;
            line-height: 15px;
            text-align: center;
            color: $text-color-white;

        }
    }

    .scroll {
        display: flex;
        align-items: center;
        justify-content: center;
        min-width: 247px;
        height: 97px;
        background-color: #131313;
        position: absolute;
        bottom: 0;
        transform: translateY(50%);

        p {
            //   text-align: center;
            font-family: Yeseva One;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 19px;
            color: $text-color-white;

        }

        button {
            margin-left: 8%;
            cursor: pointer;
            border: none;
            width: 30px;
            height: 30px;
            background-image: url(./assets/down.svg);
            background-repeat: no-repeat;
            background-color: transparent;
            outline: none;
        }
    }
}

.block2 {
    width: 100%;
    height: 100%;
    background: url(./assets/back-line.png);
    background-size: cover;
}

.block2-wrap {
    max-width: 1240px;
    height: 1074px;
    margin: 0 auto;
    display: -webkit-box;
    padding-top: 128px;
    box-sizing: border-box;

    .example {
        width: 442px;
        height: 590px;

        >h1 {
            width: 253px;
            font-family: Yeseva One;
            font-style: normal;
            font-weight: normal;
            font-size: 27px;
            line-height: 37px;
            letter-spacing: -0.07em;
            color: $text-color-orange;
        }

        >p {
            font-family: FuturaBookC;
            font-size: 18px;
            line-height: 29px;

            color: $text-color-white;
        }

        .props {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;

            div {
                padding-top: 10%;

                p {
                    font-family: FuturaBookC;
                    font-size: 15px;
                    line-height: 20px;

                    color: $text-color-white;
                }

                p:nth-child(1) {
                    font-family: Yeseva One;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 18px;
                    line-height: 25px;
                    text-transform: uppercase;
                    color: $text-color-orange;
                }
            }
        }

        .slider {
            width: 206px;
            display: flex;
            justify-content: space-around;
            margin-top: 34%;

            div {
                background: #FFFFFF;
                width: 10px;
                height: 10px;
                border-radius: 50%;
            }

            :nth-child(3) {
                background: rgba(255, 255, 255, 0.3);
            }

            :nth-child(4) {
                background: rgba(255, 255, 255, 0.3);
            }


            img:last-child {
                transform: rotate(180deg);
            }
        }
    }

    .projects {
        padding-left: 5%;

        nav {

            margin-top: -6%;

            ul {
                display: flex;
                align-items: center;
                justify-content: space-around;

                >:first-child {
                    color: $text-color-orange;
                    padding: 2px;
                    border-bottom: 1px solid $text-color-orange;
                }

                a {
                    text-decoration: none;
                    margin-right: 60px;
                    font-family: Yeseva One;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 14px;
                    color: $text-color-white;
                    line-height: 19px;
                    text-transform: uppercase;
                }
            }
        }

        .pictures {
            margin-top: 2%;
            position: absolute;
            display: flex;

            /* &:after {
                content: '';
                width: 55px;
                height: 55px;
                // position: absolute;
                z-index: 2;
                top: 50px;
                right: 0;
                //  margin-top: 185px;
                border-radius: 50%;
                background: #E3B873 url(./assets/right.svg) no-repeat center;
                box-shadow: 0px 0px 15px rgba(227, 184, 115, 0.5);
            }*/

            // margin-top: 5%;
            // justify-content: flex-end;
            img {
                // padding-right: 5%;
                // box-shadow:#fff 0 50px 30;
                //  position: relative;

            }
        }
    }



    /* .slider {
        width: 55px;
        height: 55px;
        position: absolute;
        //  margin-top: 185px;
        border-radius: 50%;
        background: #E3B873 url(./assets/right.svg) no-repeat center;
        box-shadow: 0px 0px 15px rgba(227, 184, 115, 0.5);
    }*/
}

.cam {
    width: 196px;
    height: 68px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 65%;
    right: 50%;


    h1 {
        font-family: Yeseva One;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 28px;
        text-align: center;
        text-transform: uppercase;
        color: $text-color-white;
    }

    img {
        margin: 0 auto;
    }

}

.white {
    background-color: #fff;
    width: 100%;
    height: 100%;
}

.white-wrap {
    width: 1440px;
    height: auto;
    margin: 0 auto;

    .vid {
        position: relative;

        video {
            width: 817px;
            height: 434px;
            position: absolute;
            top: 0;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        button {
            position: absolute;
            top: 0;
            left: 50%;
            cursor: pointer;
            transform: translate(-50%, -50%);
            width: 85px;
            height: 85px;
            border-radius: 50%;
            background: $text-color-orange url(./assets/play.svg) no-repeat center;

        }
    }

    .cam-text {
        width: 682px;
        margin: 0 auto;
        padding-top: 22%;
        background: url(./assets/line-wh.svg) no-repeat center 60%;

        p {
            font-family: FuturaBookC;
            font-size: 20px;
            line-height: 34px;
            text-align: center;
        }
    }

    form {
        padding-top: 5%;
        width: 770px;
        height: 102px;
        margin: 0 auto;
        position: relative;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: space-around;

        input {
            border: none;
            border-bottom: 1px solid rgba(54, 54, 54, .3);
            padding-bottom: 6px;
            padding-right: 30%;
        }

        input::placeholder {
            font-family: FuturaBookC;
            font-size: 18px;
            line-height: 24px;
            color: #363636;
        }

        label p {
            font-family: FuturaBookC;
            font-size: 15px;
            line-height: 20px;
            color: rgba(54, 54, 54, 0.5);
            text-align: left;
            margin-bottom: 4px;
        }

        label:nth-child(4) {
            padding-top: 5%;
            display: flex;
            align-items: center;
            justify-content: center;

            p {
                font-family: FuturaBookC;
                font-size: 16px;
                line-height: 22px;

                color: #181818;
            }
        }

        button {
            background-color: $text-color-orange;
            box-shadow: 0px 5px 20px rgba(227, 184, 115, 0.1);
            width: 200px;
            height: 51px;
            border: none;
            font-family: FuturaDemiC;
            font-size: 15px;
            line-height: 26px;
            text-align: center;
            outline: none;
            cursor: pointer;
            color: $text-color-white;
        }
    }

    .repair {
        width: 190px;
        height: 68px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;

        margin: 0 auto;
        margin-top: 8%;


        h1 {
            font-family: Yeseva One;
            font-style: normal;
            font-weight: normal;
            font-size: 20px;
            line-height: 28px;
            text-align: center;
            text-transform: uppercase;
            color: #181818;
        }

        img {
            margin: 0 auto;
        }

    }

    .images {
        width: 1236px;
        height: 608px;
        margin: 0 auto;
        display: flex;
        justify-content: space-around;
        background: url(./assets/rep1.png) no-repeat left 12%,
            url(./assets/rep2.png) no-repeat center 12%,
            url(./assets/rep3.png) no-repeat right 12%;

        .txt {
            position: relative;
            width: 330px;
            height: 286px;
            background-color: $text-color-white;
            box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.03);
            top: 50%;

            .inn-txt {
                margin-top: 5%;
                margin-left: 8%;

                >p {
                    margin-left: -5%;
                    font-family: Yeseva One;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 18px;
                    line-height: 25px;

                    color: #363636;
                }

                ul {
                    list-style-type: disc;

                    li {
                        font-family: FuturaBookC;
                        font-size: 15px;
                        line-height: 25px;
                        color: #959595;
                    }
                }
            }


            .orange {
                position: absolute;
                width: 228px;
                height: 54px;
                background: $text-color-orange;
                box-shadow: 5px 5px 10px rgba(227, 184, 115, 0.3);
                bottom: 0;
                display: flex;
                align-items: center;
                justify-content: center;
                transform: translateY(50%);

                p {
                    font-family: Yeseva One;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 18px;
                    line-height: 25px;
                    text-transform: uppercase;
                    color: $text-color-white;
                }
            }
        }
    }

    .free {
        width: 506px;
        height: 510px;
        margin: 16% 0 0 auto;
        background: #131313 url(./assets/free-line.png);
        box-shadow: 0px 30px 30px rgba(0, 0, 0, 0.05);

        h1 {
            font-family: FuturaDemiC;
            font-size: 20px;
            line-height: 25px;
            text-align: center;
            padding-top: 5%;
            color: $text-color-white;
        }

        form {
            display: block;
            margin: 0 auto;
            padding: 10%;
            height: 274px;
            width: auto;

            label {
                display: block;
                padding-bottom: 8%;
                padding-top: 0;
                overflow: hidden;

            }

            label:nth-child(3) {
                padding-bottom: 4%;
            }

            input {
                background-color: transparent;
                border: none;
                border-bottom: 1px solid rgba(255, 255, 255, 0.15);
                padding-bottom: 8px;
                padding-right: 100%;

            }

            input::placeholder {
                font-family: FuturaMediumC;
                font-size: 18px;
                line-height: 25px;
                color: $text-color-white;
            }

            label p {
                font-family: FuturaBookC;
                font-size: 15px;
                line-height: 20px;
                color: rgba(255, 255, 255, 0.5);
                line-height: unset;
                text-align: left;
                margin-bottom: 8px;
            }

            label:nth-child(4) {

                display: flex;
                align-items: center;
                justify-content: center;
                position: absolute;

                p {
                    font-family: FuturaBookC;
                    font-size: 16px;
                    line-height: 22px;
                    color: $text-color-white;
                }
            }


            button {
                background-color: $text-color-orange;
                box-shadow: 0px 5px 20px rgba(227, 184, 115, 0.1);
                width: 213px;
                height: 51px;
                border: none;
                font-family: FuturaDemiC;
                font-size: 15px;
                line-height: 26px;
                text-align: center;
                outline: none;
                cursor: pointer;
                color: $text-color-white;
                position: absolute;
                bottom: -12%;
                right: 8%;
            }
        }
    }
}

.fantasies {
    background: url(./assets/fantasies.png) no-repeat top center/cover;

    .fantasies-wrap {
        width: 1440px;
        height: 864px;
        margin: 0 auto;

        .text2 {
            margin-left: 8%;
            padding-top: 10%;
            width: 630px;

            h1 {
                font-family: Yeseva One;
                font-style: normal;
                font-weight: normal;
                font-size: 27px;
                line-height: 37px;
                color: $text-color-orange;
                margin-bottom: 5%;
            }

            ul {
                width: fit-content;

                li:first-child {
                    color: $text-color-orange;
                    border-bottom: 1px solid $text-color-orange;
                }

                li {
                    width: fit-content;
                    font-family: Proxima Nova;
                    font-size: 20px;
                    line-height: 34px;
                    margin-bottom: 8%;
                    color: $text-color-white;
                }
            }
        }

    }
}

.variants {
    height: 622px;
    background-color: $text-color-white;

    .variants-wrap {
        width: 1440px;
        height: 622px;
        margin: 0 auto;

        .design {
            width: 190px;
            height: 68px;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
            margin: 0 auto;
            padding-top: 10%;


            h1 {
                font-family: Yeseva One;
                font-style: normal;
                font-weight: normal;
                font-size: 20px;
                line-height: 28px;
                text-align: center;
                text-transform: uppercase;
                color: #181818;
            }

            img {
                margin: 0 auto;
            }

        }

        .inn-tx {
            width: 760px;
            margin: 0 auto;

            p {
                font-family: FuturaBookC;
                font-size: 20px;
                line-height: 27px;
                text-align: center;

                color: #363636;
            }
        }

        .images2 {
            width: 1236px;
            height: 608px;
            margin: 0 auto;
            display: flex;
            justify-content: space-around;
            background: url(./assets/rep1.png) no-repeat left 12%,
                url(./assets/rep3.png) no-repeat center 12%,
                url(./assets/tel.png) no-repeat right 12%;

            .txt2 {
                position: relative;
                width: 330px;
                height: 286px;
                background-color: $text-color-white;
                box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.03);
                height: fit-content;
                top: 50%;

                .inn-txt2 {
                    margin-top: 5%;
                    margin-left: 8%;

                    >p {
                        margin-left: -5%;
                        margin-bottom: 2%;
                        font-family: Yeseva One;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 18px;
                        line-height: 25px;

                        color: #363636;
                    }

                    ul {
                        list-style-type: disc;
                        margin-bottom: 17%;

                        li {
                            font-family: FuturaBookC;
                            font-size: 15px;
                            line-height: 25px;
                            color: #959595;
                        }
                    }
                }


                .orange2 {
                    position: absolute;
                    width: 228px;
                    height: 54px;
                    background: $text-color-orange;
                    box-shadow: 5px 5px 10px rgba(227, 184, 115, 0.3);
                    bottom: 0;
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    transform: translateY(50%);
                    padding-left: 5%;

                    p {
                        font-family: Yeseva One;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 18px;
                        line-height: 25px;
                        text-transform: uppercase;
                        color: $text-color-white;
                    }
                }
            }
        }
    }
}

.steps {
    background: #191919 url(./assets/back-line.png) no-repeat;
    background-size: cover;

    .steps-wrap {
        width: 1440px;
        height: 1616px;
        margin: 0 auto;
    }
}

.team {
    .team-wrap {
        width: 1440px;
        height: 1516px;
    }
}

.map {
    background: url(./assets/bgmap.png) no-repeat right bottom/cover, linear-gradient(rgb(24, 24, 24), rgba(24, 24, 24, 0.8));
    background-blend-mode: overlay;

    .map-wrap {
        width: 1440px;
        height: 954px;
        margin: 0 auto;
        position: relative;
        background: url(./assets/map.png) no-repeat center 95%;

        .ques {
            position: absolute;
            width: 883px;
            height: 446px;
            background: #181818 url(./assets/free-line.png) no-repeat;
            background-size: cover;
            left: 50%;
            transform: translate(-50%, -50%);

            h1 {
                font-family: Yeseva One;
                font-style: normal;
                font-weight: normal;
                font-size: 20px;
                line-height: 28px;
                text-align: center;
                color: $text-color-white;
                margin-top: 4%;
            }

            form {
                position: relative;
                width: 520px;
                height: 308px;
                margin: 0 auto;
                margin-top: 5%;
                overflow: hidden;

                input {
                    background-color: transparent;
                    border: none;
                    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
                    padding-bottom: 8px;
                }

                input::placeholder {
                    font-family: FuturaBookC;
                    font-size: 18px;
                    line-height: 24px;
                    color: $text-color-white;
                }

                label p {
                    font-family: FuturaBookC;
                    font-size: 15px;
                    line-height: 20px;
                    color: rgba(255, 255, 255, 0.5);
                    line-height: unset; //28
                    text-align: left;
                    margin-bottom: 8px;
                }

                label:first-child {
                    position: absolute;
                    left: 0;

                    input {
                        padding-right: 40%;
                    }
                }

                label:nth-child(2) {
                    position: absolute;
                    right: 0;

                    input {
                        margin-left: -10%;
                        padding-right: 40%;
                    }
                }

                label:nth-child(3) {
                    position: absolute;
                    top: 30%;
                }

                label:nth-child(4) {
                    left: 0;
                    right: 0;
                    bottom: 30%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    position: absolute;

                    p {
                        font-family: FuturaBookC;
                        font-size: 16px;
                        line-height: 22px;
                        color: $text-color-white;
                    }
                }


                label[for="in3"] input {
                    padding-right: 300%;
                }


                button {
                    background-color: $text-color-orange;
                    box-shadow: 0px 5px 20px rgba(227, 184, 115, 0.1);
                    width: 200px;
                    height: 51px;
                    border: none;
                    font-family: FuturaDemiC;
                    font-size: 15px;
                    line-height: 26px;
                    text-align: center;
                    outline: none;
                    cursor: pointer;
                    color: $text-color-white;
                    display: block;
                    margin: 0 auto;
                    margin-top: 48%;
                }
            }
        }

        .cont {
            padding-top: 18%;
        }

        p {
            font-family: Yeseva One;
            font-style: normal;
            font-weight: normal;
            font-size: 20px;
            line-height: 28px; //28
            text-align: center;
            color: $text-color-orange;
        }

        .icons {
            height: fit-content;
            width: fit-content;
            margin: 0 auto;
            padding-top: 2%;

            img {
                border-radius: 50%;
                background-color: $text-color-orange;
                padding: 7px;
            }

            img:last-child {
                padding: 8px 6px;
            }
        }
    }
}

footer {
    background-color: #191919;

    .foot-wrap {
        width: 1256px;
        height: 134px;
        margin: 0 auto;
        display: flex;
        align-items: center;
    }
}