@import 'config';

body {
    background-color: #131313;
}

.upper {
    text-transform: uppercase;
}

header,
footer {
    width: 100%;
    height: 100%;

    .head-wrap {
        position: relative;
        max-width: 1440px;
        height: 790px;
        margin: 0 auto;
        display: flex;
        background-blend-mode: multiply;
        background: url(./assets/banner.png) no-repeat right bottom //, rgba(0, 0, 0, 0.7);
            //  background-color: rgba(0, 0, 0, 0.7);
    }

    .top {
        width: 1256px;
        height: 10%;
        display: flex;
        align-items: center;
        // position: relative;
    }

    aside {
        min-width: 82px;
        height: 707px;
        display: flex;
        align-items: center;

        span {
            font-family: FuturaDemiC;
            font-size: 14px;
            line-height: 16px;
            color: $text-color-orange;
            margin: 0 auto;
            -webkit-transform: rotate(90deg);
        }
    }


    nav {
        margin-left: 95px;
        width: 582px;

        ul {
            height: 10%;
            display: flex;
            justify-content: space-around;

            a {
                text-decoration: none;
                font-family: FuturaBookC;
                font-size: 14px;
                line-height: 16px;
                color: $text-color-white;
                text-transform: uppercase;
            }

            a:first-child {
                color: $text-color-orange;
            }
        }
    }


    .logo {
        font-family: FuturaDemiC;
        font-size: 14px;
        line-height: 16px;
        color: $text-color-orange;

    }

    .number {
        font-family: FuturaDemiC;
        font-size: 14px;
        line-height: 16px;
        text-align: right;
        text-decoration-line: underline;
        color: $text-color-orange;
        margin-left: 3%;
        // margin-right: 5%;
    }

    .call-button {
        width: 167px;
        height: 37px;
        background-color: $text-color-orange;
        margin-left: 5%;
        box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
        border-radius: 2px;

        p {
            font-family: FuturaDemiC;
            font-size: 13px;
            line-height: 15px;
            text-align: center;
            text-transform: uppercase;

            color: $text-color-white;
        }

    }

    .text {
        position: absolute;
        top: 30%;
        margin-left: 2%;

        >div {
            width: 518px;
            height: 108px;

            h1 {
                font-family: Yeseva One;
                font-style: normal;
                font-weight: normal;
                font-size: 40px;
                line-height: 53px;
                color: $text-color-white;

                span {
                    color: $text-color-orange;
                }
            }
        }

        p {
            margin-top: 20px;
            font-family: FuturaBookC;
            font-size: 22px;
            line-height: 30px;
            color: $text-color-white;
            max-width: 500px;
            max-height: 89px;
        }
    }

    .buttons {
        display: flex;
        margin-top: 8%;

        .calculate {
            width: 208px;
            height: 52px;
            background: #E3B873;
            box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.3);
            border-radius: 2px;
            margin-right: 5%;

            p {
                font-family: FuturaDemiC;
                font-size: 13px;
                line-height: 15px;
                text-align: center;
                color: $text-color-white;
            }
        }

        .submit {
            width: 208px;
            height: 52px;
            border: 1px solid #FFFFFF;
            box-sizing: border-box;
            border-radius: 2px;

            p {
                font-family: FuturaDemiC;
                font-size: 13px;
                line-height: 15px;
                text-align: center;
                color: $text-color-white;
            }
        }
    }

    .scroll {
        display: flex;
        align-items: center;
        justify-content: center;
        min-width: 247px;
        height: 97px;
        background-color: #131313;
        position: absolute;
        bottom: 0;
        transform: translateY(50%);

        p {
            //   text-align: center;
            font-family: Yeseva One;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 19px;
            color: $text-color-white;

        }

        button {
            margin-left: 8%;
            cursor: pointer;
            border: none;
            width: 30px;
            height: 30px;
            background-image: url(./assets/down.svg);
            background-repeat: no-repeat;
            background-color: transparent;
            outline: none;
        }
    }
}

.block2 {
    width: 100%;
    height: 100%;
    background: url(./assets/banner-vector.svg) repeat-x;
}

.block2-wrap {
    max-width: 1240px;
    height: 1074px;
    margin: 0 auto;
    display: -webkit-box;
    padding-top: 128px;
    box-sizing: border-box;

    .example {
        width: 442px;
        height: 590px;

        >h1 {
            width: 253px;
            font-family: Yeseva One;
            font-style: normal;
            font-weight: normal;
            font-size: 27px;
            line-height: 37px;
            letter-spacing: -0.07em;
            color: $text-color-orange;
        }

        >p {
            font-family: FuturaBookC;
            font-size: 18px;
            line-height: 29px;

            color: $text-color-white;
        }

        .props {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;

            div {
                padding-top: 10%;

                p {
                    font-family: FuturaBookC;
                    font-size: 15px;
                    line-height: 20px;

                    color: $text-color-white;
                }

                p:nth-child(1) {
                    font-family: Yeseva One;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 18px;
                    line-height: 25px;
                    text-transform: uppercase;
                    color: $text-color-orange;
                }
            }
        }

        .slider {
            width: 206px;
            display: flex;
            justify-content: space-around;
            margin-top: 34%;

            div {
                background: #FFFFFF;
                width: 10px;
                height: 10px;
                border-radius: 50%;
            }

            :nth-child(3) {
                background: rgba(255, 255, 255, 0.3);
            }

            :nth-child(4) {
                background: rgba(255, 255, 255, 0.3);
            }


            img:last-child {
                transform: rotate(180deg);
            }
        }
    }

    .projects {
        padding-left: 5%;

        nav {

            margin-top: -6%;

            ul {
                display: flex;
                align-items: center;
                justify-content: space-around;

                >:first-child {
                    color: $text-color-orange;
                    padding: 2px;
                    border-bottom: 1px solid $text-color-orange;
                }

                a {
                    text-decoration: none;
                    margin-right: 60px;
                    font-family: Yeseva One;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 14px;
                    color: $text-color-white;
                    line-height: 19px;
                    text-transform: uppercase;
                }
            }
        }

        .pictures {
            margin-top: 2%;
            position: absolute;
            display: flex;

            &:after {
                content: '';
                width: 55px;
                height: 55px;
                // position: absolute;
                z-index: 2;
                top: 50px;
                right: 0;
                //  margin-top: 185px;
                border-radius: 50%;
                background: #E3B873 url(./assets/right.svg) no-repeat center;
                box-shadow: 0px 0px 15px rgba(227, 184, 115, 0.5);
            }

            // margin-top: 5%;
            // justify-content: flex-end;
            img {
                padding-right: 5%;
                // box-shadow:#fff 0 50px 30;
                //  position: relative;

            }
        }
    }

    .cam {
        width: 196px;
        height: 68px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        position: relative;
        top: 65%;
        right: 50%;

        // margin: 0 auto;
        // position: relative;
        //  top: 100%;
        h1 {
            font-family: Yeseva One;
            font-style: normal;
            font-weight: normal;
            font-size: 20px;
            line-height: 28px;
            text-align: center;
            text-transform: uppercase;
            color: $text-color-white;
        }

        img {
            margin: 0 auto;
        }

        .vid {
            width: 817px;
            height: 434px;
            margin: 0 auto;

            video {}
        }
    }

    /* .slider {
        width: 55px;
        height: 55px;
        position: absolute;
        //  margin-top: 185px;
        border-radius: 50%;
        background: #E3B873 url(./assets/right.svg) no-repeat center;
        box-shadow: 0px 0px 15px rgba(227, 184, 115, 0.5);
    }*/
}

.white {
    background-color: #fff;
}

.white-wrap {
    width: 1440px;
    height: 1864px;
    margin: 0 auto;

    >div {
        width: 682px;
        margin: 0 auto;
        margin-top: 33%;

        p {
            font-family: FuturaBookC;
            font-size: 20px;
            line-height: 34px;
            text-align: center;
        }
    }

    .circle {}
}

.fantasies {
    background: url(./assets/fantasies.png) no-repeat top center/cover;

    .fantasies-wrap {
        width: 1440px;
        height: 864px;
        margin: 0 auto;
    }
}

.variants {
    height: 622px;

    .variants-wrap {
        width: 1440px;
        height: 622px;
        margin: 0 auto;
    }
}

.steps {
    background: #191919;

    .steps-wrap {
        width: 1440px;
        height: 1616px;
        margin: 0 auto;
    }
}

.team {
    .team-wrap {
        width: 1440px;
        height: 1516px;
    }
}

.map {
    background: url(./assets/bgmap.png) no-repeat right bottom/cover, linear-gradient(rgb(24, 24, 24), rgba(24, 24, 24, 0.8));
    background-blend-mode: overlay;

    .map-wrap {
        width: 1440px;
        height: 954px;
        margin: 0 auto;
        position: relative;
        background: url(./assets/map.png) no-repeat center 95%;

        .ques {
            position: absolute;
            width: 883px;
            height: 446px;
            background-color: #181818;
            left: 50%;
            transform: translate(-50%, -50%);

            h1 {
                font-family: Yeseva One;
                font-style: normal;
                font-weight: normal;
                font-size: 20px;
                line-height: 28px;
                text-align: center;
                color: $text-color-white;
                margin-top: 4%;
            }

            form {
                position: relative;
                width: 520px;
                height: 308px;
                margin: 0 auto;
                margin-top: 5%;
                overflow: hidden;

                input {
                    background-color: #181818;
                    border: none;
                    border-bottom: 1px solid white;
                    padding-bottom: 8px;
                }

                input::placeholder {
                    font-family: FuturaBookC;
                    font-size: 18px;
                    line-height: 24px;
                    color: $text-color-white;
                }

                label p {
                    font-family: FuturaBookC;
                    font-size: 15px;
                    line-height: 20px;
                    color: rgba(255, 255, 255, 0.5);
                    line-height: unset; //28
                    text-align: left;
                    margin-bottom: 8px;
                }

                label:first-child {
                    position: absolute;
                    top: 0;
                    left: 0;
                    input{
                        padding-right: 50%;
                    }
                }

                label:nth-child(2) {
                    position: absolute;
                    top: 0;
                    right: 0;
                    input{
                        padding-right: 50%;
                    }
                    margin-right: 50%;
                }

                label:nth-child(3) {
                    position: absolute;
                    top: 30%;
                }

                label:nth-child(4) {
                    display: flex;
                   // text-align: center;
                    position: absolute;
                    top: 60%;

                    p {
                        font-family: FuturaBookC;
                        font-size: 16px;
                        line-height: 22px;
                        color: $text-color-white;
                    }
                }
                

                label[for="in3"] input {
                    padding-right: 200%;
                }

                
                button {
                    background-color: $text-color-orange;
                    box-shadow: 0px 5px 20px rgba(227, 184, 115, 0.1);
                    padding: 20px 54px;
                    border: none;
                    font-family: FuturaDemiC;
                    font-size: 15px;
                    line-height: 26px;
                    text-align: center;
                    outline: none;
                    cursor: pointer;
                    color: $text-color-white;
                    position: absolute;
                    margin: 0 auto;
                    bottom: 4%;
                }
            }
        }

        .cont {
            padding-top: 18%;
        }

        p {
            font-family: Yeseva One;
            font-style: normal;
            font-weight: normal;
            font-size: 20px;
            line-height: 28px; //28
            text-align: center;
            color: $text-color-orange;
        }

        .icons {
            height: fit-content;
            width: fit-content;
            margin: 0 auto;
            padding-top: 2%;

            img {
                border-radius: 50%;
                background-color: $text-color-orange;
                padding: 7px;
            }

            img:last-child {
                padding: 8px 6px;
            }
        }
    }
}

footer {
    background-color: #191919;

    .foot-wrap {
        width: 1256px;
        height: 134px;
        margin: 0 auto;
        display: flex;
        align-items: center;
    }
}